body{
    width: 100%;
    height: 100%;
    background: #F3F5FC;
}

.logo{
    margin: 5%;
}
.bloque-conteiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#bloque1{
    display: inline-block;
    width: 50%;
    margin-left: 5%;
}
.cajaTexto{
    width: 50%;
    height: 350px;
    background:  #F3F5FC;
    font-family: 'Inter';
    font-size: 1.3rem;
    line-height: 150%;
    resize: none;
    outline: none;
    border: none;
    color: #0A3871;
}

#bloque-aviso-botones{
    margin-top: 5%;
    width: 80%;
}

.boxAviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.aviso{
    font-family: 'Inter';
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.boxbotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-top: 3%;
}

.boton1{
    border: 1px solid #D8DFE8;
    color: #D8DFE8;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    width: 45%;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    font-size: 20px;
    font-weight: bold;
}

.boton2{
    box-sizing: border-box;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    gap: 8px;
    width: 45%;
    height: 67px;
    font-size: 20px;
    font-weight: bold;
}

#bloque2{
    display: inline-block;
    width: 40%;
}

.rectangulo{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 350px;
}

#muneco{
    width: 60%;
}

#span{
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #0A3871;
}

#textoRespuesta{
    width: 90%;
    height: 300px;

    margin: 50px 25px 25px;
    background:  #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 150%;
    resize: none;
    outline: none;
    border: none;
    color: #0A3871;

}

.botonCopy{
    box-sizing: border-box;
    width: 50%;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: bold;
}

button:active{
	margin-top:0px;
	border: 0;
}
button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.invisible{
	display:none;
}
#firma{
    position: relative;
    top: 80%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Inter';
    color: #495057;
}

@media screen  and (max-width:480px){
    #bloque1{
        width: 100%;
    }
    #textArea{
        width: 80%;
    }
    .boton1{
        font-size: 15px;
    }
    .boton2{
        font-size: 15px;
    }
    #bloque2{
        width: 100%;
    }
}

